<html>
	<head>
		<title>3D NBody simulation</title>
		<style>
			body {
                margin: 0;
                font-size: 12px;
                font-family: helvetica, arial, serif;
            }
			canvas { width: 100%; height: 100% }
		</style>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.js"></script>
		<script src="./lib/OrbitControls.js"></script>
		<script src='./lib/Projector.js'></script>
		<script src="./lib/papaparse.min.js"></script>
        <script src='./lib/tween.min.js'></script>

        <script id="vertexShader" type="x-shader/x-vertex">
            uniform vec3 viewVector;
            uniform float c;
            uniform float p;
            varying float intensity;
            void main()
            {
                vec3 vNormal = normalize( normalMatrix * normal );
                vec3 vNormel = normalize( normalMatrix * viewVector );
                intensity = pow( c - dot(vNormal, vNormel), p );

                gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
            }
        </script>

        <!-- fragment shader a.k.a. pixel shader -->
        <script id="fragmentShader" type="x-shader/x-vertex">
            uniform vec3 glowColor;
            varying float intensity;
            void main()
            {
                vec3 glow = glowColor * intensity;
                gl_FragColor = vec4( glow, 0.5 );
            }
        </script>
		<script>
            var data;
            var timestep = 0;
            var objects = [];
            var glows = [];
            var pause = false;
            var autopilot = false;

            configs = {};
            configs.filename = "/data/simulation.csv";
            configs.n_bodies = 1024;
            configs.n_timesteps = 2500;
            configs.radius = 3.5;
            configs.speed = 25;
            configs.camera_speed = 0.05;
            configs.color = 0x00ff00;

			var controls;
			var camera;
			var camera_angle = 45;
			var far = 300;
			var scene;
			var renderer;
			var raycaster;
			var mouse;

            $(document).ready(function(){
                Papa.parse(configs.filename, {
                    download: true,
                    dynamicTyping: true,
                    delimiter: ",",
                    complete: function(results)
                    {
                        data = results.data;
                        init();
                    }
                });

				function init()
				{
					raycaster = new THREE.Raycaster();
					mouse = new THREE.Vector2();
					document.addEventListener( 'mousedown', onDocumentMouseDown, false );
					document.addEventListener( 'touchstart', onDocumentTouchStart, false );
					window.addEventListener( 'resize', onWindowResize, false );

					renderer = new THREE.WebGLRenderer();
				    renderer.setSize(window.innerWidth, window.innerHeight);
					renderer.setClearColor( 0x000000, 1);
				    document.body.appendChild(renderer.domElement);
				    camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 1000);

                    camera.position.set(far * Math.cos(camera_angle * Math.PI / 180.0), far * Math.sin(45 * Math.PI / 180.0), far * Math.sin(camera_angle * Math.PI / 180.0));
				    camera.lookAt(new THREE.Vector3(0, 0, 0));
				    scene = new THREE.Scene();

					controls = new THREE.OrbitControls(camera);
					controls.addEventListener('change', render);

                    var texture = new THREE.ImageUtils.loadTexture( '/images/glow.png' );
                    var geometry = new THREE.SphereGeometry(configs.radius, 32, 32);

                    for (var i = 0; i < configs.n_bodies; i++)
                    {
						var customMaterial = new THREE.ShaderMaterial(
	                    {
	                        uniforms:
	                        {
	                            "c":   { type: "f", value: 0.0 },
	                            "p":   { type: "f", value: 60.0 },
	                            glowColor: { type: "c", value: new THREE.Color(configs.color) },
	                            viewVector: { type: "v3", value: camera.position }
	                        },
	                        vertexShader:   document.getElementById( 'vertexShader'   ).textContent,
	                        fragmentShader: document.getElementById( 'fragmentShader' ).textContent,
	                        side: THREE.BackSide,
	                        blending: THREE.AdditiveBlending,
	                        transparent: true
	                    });

                        var sphere = new THREE.Mesh(geometry, customMaterial);
                        sphere.position.x += data[i][0];
                        sphere.position.x += data[i][1];
                        sphere.position.x += data[i][2];

                        scene.add(sphere);
                        objects.push(sphere);
                    }

					var size = 100;
					var step = 2;

					var gridHelper = new THREE.GridHelper( size, step );
					gridHelper.setColors(new THREE.Color(0x333333), new THREE.Color(0x333333));
					scene.add( gridHelper );

    				renderer.render(scene, camera);

                    timestep = 0;
                    setInterval(function(){
                        if (!pause)
                        {
                            controls.update();
                            render(timestep++);
                        }
                    }, configs.speed);
				}

                function update_positions(timestep)
                {
                    if (timestep < configs.n_timesteps)
                    {
                        $("#info").text("t=" + timestep.toString());
                        for (var i = 0; i < configs.n_bodies; i++)
                        {
                            objects[i].position.x = data[configs.n_bodies * timestep + i][0];
                            objects[i].position.y = data[configs.n_bodies * timestep + i][1];
                            objects[i].position.z = data[configs.n_bodies * timestep + i][2];
                        }
                    }

                    if (autopilot)
                    {
                        camera.position.set(far * Math.cos(camera_angle * Math.PI / 180.0), far * Math.sin(camera_angle * Math.PI / 180.0), far * Math.sin(camera_angle * Math.PI / 180.0));
                        camera_angle = (camera_angle + configs.camera_speed) % 360;
                    }
                }

				function onWindowResize() {

					camera.aspect = window.innerWidth / window.innerHeight;
					camera.updateProjectionMatrix();

					renderer.setSize( window.innerWidth, window.innerHeight );

				}

				function onDocumentTouchStart( event ) {

					event.preventDefault();

					event.clientX = event.touches[0].clientX;
					event.clientY = event.touches[0].clientY;
					onDocumentMouseDown( event );

				}

				function onDocumentMouseDown( event ) {

					event.preventDefault();

					mouse.x = ( event.clientX / renderer.domElement.width ) * 2 - 1;
					mouse.y = - ( event.clientY / renderer.domElement.height ) * 2 + 1;

					raycaster.setFromCamera( mouse, camera );

					var intersects = raycaster.intersectObjects( objects );

					if ( intersects.length > 0 )
					{
						intersects[ 0 ].object.material.uniforms.glowColor.value.setHex( Math.random() * 0xffffff );

						var particle = new THREE.Sprite( particleMaterial );
						particle.position.copy( intersects[ 0 ].point );
						particle.scale.x = particle.scale.y = 16;
						scene.add( particle );

					}

					/*
					// Parse all the faces
					for ( var i in intersects ) {

						intersects[ i ].face.material[ 0 ].color.setHex( Math.random() * 0xffffff | 0x80000000 );

					}
					*/
				}

				function render(timestep)
				{
                    update_positions(timestep);
					renderer.render(scene, camera);
				}

                $(window).keypress(function(e){
                    var key = e.which;
                    if (key == 112) // p key
                    {
                        pause = !pause;
                    }
                    else if (key == 97) // a key
                    {
                        autopilot = !autopilot;
                    }
                });
			});
		</script>
	</head>
	<body>
        <div style="color: white; position: absolute; top: 10px; left: 10px; z-index: 10000;">
            a: Toggle autopilot mode
			<br>
            p: Pause/resume
            <div id="info"></div>
        </div>
	</body>
</html>
